div.cardContainer{
        border: 1px lightgray solid;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        div.moduleCard{
            width: 250px;
    }

    div.studentCard{
        width: 200px;
    }
}   
